body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.overlay {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(13, 71, 161, 0.4), rgba(13, 71, 161, 0.4)),
    url("/medical-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background: #0d47a1;
  padding: 15px 40px;
  display: flex;
  gap: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.section {
  padding: 50px 10%;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
}

.gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery img {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  background: #1565c0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0d47a1;
}

.footer {
  background: #0d47a1;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
.type-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 260px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  text-align: center;
}

.type-card:hover {
  transform: translateY(-5px);
}

.type-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
